In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [54]:
data=pd.read_csv('glass_data.csv',header=None)
data.columns=['Id','Ri','Na','Mg','Al','Si','K','Ca','Ba','Fe','Type of glass']
data

      Id       Ri     Na    Mg    Al  ...     K    Ca    Ba   Fe  Type of glass
0      1  1.52101  13.64  4.49  1.10  ...  0.06  8.75  0.00  0.0              1
1      2  1.51761  13.89  3.60  1.36  ...  0.48  7.83  0.00  0.0              1
2      3  1.51618  13.53  3.55  1.54  ...  0.39  7.78  0.00  0.0              1
3      4  1.51766  13.21  3.69  1.29  ...  0.57  8.22  0.00  0.0              1
4      5  1.51742  13.27  3.62  1.24  ...  0.55  8.07  0.00  0.0              1
..   ...      ...    ...   ...   ...  ...   ...   ...   ...  ...            ...
209  210  1.51623  14.14  0.00  2.88  ...  0.08  9.18  1.06  0.0              7
210  211  1.51685  14.92  0.00  1.99  ...  0.00  8.40  1.59  0.0              7
211  212  1.52065  14.36  0.00  2.02  ...  0.00  8.44  1.64  0.0              7
212  213  1.51651  14.38  0.00  1.94  ...  0.00  8.48  1.57  0.0              7
213  214  1.51711  14.23  0.00  2.08  ...  0.00  8.62  1.67  0.0              7

[214 rows x 11 columns]

In [55]:
data.drop(['Id'],axis=1,inplace=True)
data

          Ri     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type of glass
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0              1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0              1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0              1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0              1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0              1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...            ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0              7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0              7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0              7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0              7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0              7

[214 rows x 10 columns]

In [56]:
data.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Ri             214 non-null    float64
 1   Na             214 non-null    float64
 2   Mg             214 non-null    float64
 3   Al             214 non-null    float64
 4   Si             214 non-null    float64
 5   K              214 non-null    float64
 6   Ca             214 non-null    float64
 7   Ba             214 non-null    float64
 8   Fe             214 non-null    float64
 9   Type of glass  214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [57]:
X=data.drop('Type of glass',axis=1)
Y=data['Type of glass']
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.2)

In [58]:
#KNN Algorithm
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn.fit(X_train,Y_train)
A=knn.predict(X_test)
knn_accuracy=accuracy_score(Y_test,A)
knn_accuracy

0.5116279069767442

In [59]:
#Naivebayes classification
from sklearn.naive_bayes import GaussianNB
naive = GaussianNB()
naive.fit(X_train,Y_train)
n=naive.predict(X_test)
naivebayes_accuracy=accuracy_score(Y_test,n)
naivebayes_accuracy

0.37209302325581395

In [60]:
#Decision tree classification
from sklearn.tree import DecisionTreeClassifier
tree=DecisionTreeClassifier()
tree.fit(X_train,Y_train)
c=tree.predict(X_test)
DecisionTree_accuracy=accuracy_score(Y_test,c)
DecisionTree_accuracy

0.6744186046511628

In [61]:
#Random forest classification
from sklearn.ensemble import RandomForestClassifier
random=RandomForestClassifier()
random.fit(X_train,Y_train)
d=random.predict(X_test)
RandomForest_accuracy=accuracy_score(Y_test,d)
RandomForest_accuracy

0.7209302325581395